description = "Default layout"
==
{% partial 'header' %}

<div class="region-wrap navigation">
    <div class="row">

        <!--Page Content-->
        {% partial 'navigation' %}

    </div>
</div>
<!--/.navigation-->

<div class="region-wrap main-content">
    <div class="row">

        <!--Page Content-->
        {% page %}

    </div>
    <!--/.row-->
</div>
<!--/.main-content-->


<div class="region-wrap footer">

    <!--Footer Partial-->
    {% partial 'footer' %}

</div>
<!--/.footer-->

<!-- Javascipt Bitches -->

{% partial 'footer-loader' %}
